@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "NoirProMedium";
    src: url("/assets/fonts/noirpro/NoirPro-Medium.otf") format("truetype");
  }
  @font-face {
    font-family: "NoirProRegular";
    src: url("/assets/fonts/noirpro/NoirPro-Regular.otf") format("truetype");
  }
  @font-face {
    font-family: "AauxNBlack";
    src: url("/assets/fonts/aauxnext/aauxnextblack.otf") format("truetype");
  }
  @font-face {
    font-family: "AauxNBold";
    src: url("/assets/fonts/aauxnext/aauxnextbold.otf") format("truetype");
  }
  @font-face {
    font-family: "AauxNLight";
    src: url("/assets/fonts/aauxnext/aauxnextlight.otf") format("truetype");
  }
  @font-face {
    font-family: "AauxNMedium";
    src: url("/assets/fonts/aauxnext/aauxnextmedium.otf") format("truetype");
  }
  body {
    font-family: "NoirProMedium";
    background-color: #f1ddce;
  }
}
